# Analyzing Public Sentiments of Chicago Neighborhoods

What is the relationship between neighborhood reputation and context? 
Below I explore this question in the context of Chicago, IL, using social media (Twitter) data and socioeconomic data for each neighborhood.
For this analysis I define "neighborhood" as one of Chicago's 77 community areas, which are officially recognized by the City of Chicago. 
I measure neighborhood reputation based on the sentiment of each tweet that refers to a neighborhood by name (e.g., "Hyde Park"). 

Eventually I'll expand this to mapping the tweets and examining the data for potential correlations with other types of data such as socioeconomics, crime, and types of amenities.

# Step 0: Set up

Importing relevant modules and keys

In [1]:
import time

In [2]:
import pandas as pd

In [ ]:
#%matplotlib inline

In [ ]:
#import datetime

In [3]:
pd.set_option('display.max_colwidth', -1)  # this helps show as much of the tweets in the dataframes as possible

In [4]:
# in terminal: easy_install pip
# in terminal: pip install tweepy
# in terminal: pip install --upgrade pip [per suggestion shown inside terminal]
import tweepy

In [5]:
#import matplotlib.pyplot as plt

In [6]:
# These four codes constitute your authorization to extract data from Twitter
consumer_token = 'qZMmvxcPLfwCixedks1m3jXGg'
consumer_secret = 'UFFyLdOlePodkPYvR6NR64N0SVinVsPezNb1IKg1hNXl06jy67'
access_token = '2382930698-0eCycGIeqv4SUmOvSINQbkhnb2v9hTPDlSpcb8q'
access_token_secret = 'eTmMeL9pj7pcxoupFDqDuNmzWSXUn8UQWrYeYAcKu8xyR'

# OAuth process, using the keys and tokens
auth = tweepy.OAuthHandler(consumer_token, consumer_secret)
auth.set_access_token(access_token, access_token_secret)

# Creation of the actual interface, using authentication
# api = tweepy.API(auth)
api = tweepy.API(auth, wait_on_rate_limit=True, wait_on_rate_limit_notify=True)

# Step 1: Get the data

Downloading, cleaning up, and storing Twitter data in a csv file.

<h3>Step 1.a. Creating three datasets of differing scopes.</h3>

First I experiment with different search criteria. Two focus solely on the Community Area of Englewood, while the third one consists of tweets that mention any of the 77 Community Areas. I use the smallest dataset (#1) to test things out before applying those methods to a larger one.

<h4>Create and save raw dataset (ds) 1:</h4>

Criteria:   
1. list of tweets within last 6-9 days. 
  * This time range limit is set by Twitter, see https://dev.twitter.com/rest/public/search
2. tweet mentions "englewood" AND "chicago"
  * FYI there are two Community Areas inside Chicago with "Englewood" in the name. They're located adjacent to each other. There are also "Englewood" in other states, such as NJ.
3. tweet originates within 15 miles of Chicago, IL
  * Determine this by using geocoding of tweets
  * Identify geocode for Chicago by clicking on latitude/longitude info on Chicago wikipedia page: https://en.wikipedia.org/wiki/Chicago
4. tweet is in English

In [133]:
api.rate_limit_status('search')  # checks the status of my search request limit

{'rate_limit_context': {'access_token': '2382930698-0eCycGIeqv4SUmOvSINQbkhnb2v9hTPDlSpcb8q'},
 'resources': {'search': {'/search/tweets': {'limit': 180,
    'remaining': 180,
    'reset': 1481576765}}}}

In [130]:
# establish datasets or "buckets" into which each relevant data point is going to be appended:
test1_ds1 = []
test2_ds1 = []
test3_ds1 = []
test4_ds1 = []

for tweet in tweepy.Cursor(api.search,
                           q = 'englewood',
                           lang = 'en', 
                           geocode = '41.836944,-87.684722,15mi',
                           show_user=True).items(10):
    test1_ds1.append(tweet.text)
    test2_ds1.append(tweet.created_at)
    test3_ds1.append(tweet.user.followers_count)
    test4_ds1.append(tweet.user.screen_name)

test_df1 = pd.DataFrame({
        "Tweet Text": test1_ds1,
        "Created At": test2_ds1,
        "Current User Followers": test3_ds1,
        "User Screen Name": test4_ds1})

In [132]:
#test_df1

In [138]:
# establish datasets or "buckets" into which each relevant data point is going to be appended:
community_area_name_ds1 = []
user_screen_name_ds1 = []
user_location_ds1 = []  
user_followers_count_ds1 = []
tweet_coordinates_ds1 = []
tweet_date_time_ds1 = [] 
tweet_content_ds1 = [] 
tweet_num_retweet_ds1 = [] 
tweet_num_liked_ds1 = []

for tweet in tweepy.Cursor(api.search,
                           q = 'englewood',
                           lang = 'en', 
#                           geocode = '41.836944,-87.684722,15mi').items(10):
                           geocode = '41.836944,-87.684722,15mi').items():
    community_area_name_ds1.append('Englewood')
    user_screen_name_ds1.append(tweet.user.screen_name)
    user_location_ds1.append(tweet.user.location)
    user_followers_count_ds1.append(tweet.user.followers_count)
    tweet_coordinates_ds1.append(tweet.coordinates)
    tweet_date_time_ds1.append(tweet.created_at)
    tweet_content_ds1.append(tweet.text)
    tweet_num_retweet_ds1.append(tweet.retweet_count)
    tweet_num_liked_ds1.append(tweet.favorite_count)

df1 = pd.DataFrame({
        "Community Area Mentioned": community_area_name_ds1,
        "User Screen Name": user_screen_name_ds1,
        "User Location": user_location_ds1,
        "User Number of Followers":user_followers_count_ds1,
        "Tweet Coordinates": tweet_coordinates_ds1,
        "Tweet Day and Time": tweet_date_time_ds1,
        "Tweet Number of Times Retweeted": tweet_num_retweet_ds1,
        "Tweet Number of Times Liked": tweet_num_liked_ds1,
        "Tweet Content": tweet_content_ds1})

In [139]:
df1.shape

(964, 9)

In [141]:
df1[0:3]

,Community Area Mentioned,Tweet Content,Tweet Coordinates,Tweet Day and Time,Tweet Number of Times Liked,Tweet Number of Times Retweeted,User Location,User Number of Followers,User Screen Name
0,Englewood,Plz help us give a toy 2 a kid in Englewood 4 Xmas\n312-576-2391 we will pick up donations or deliver them to Xperie… https://t.co/OAy0SNqhiU,None,2016-12-12 20:36:08,0,0,"Englewood, Chicago",601,mystrogrant
1,Englewood,"Pay Family Of Man Killed By Cops $2.34M, Finance Committee Recommends https://t.co/lW19FdWMsw",None,2016-12-12 20:33:17,0,0,"Chicago, IL",215,CosbyChicago
2,Englewood,"Pay Family Of Man Killed By Cops $2.34M, Finance Committee Recommends https://t.co/pFOWw1uNwc https://t.co/1ZB0ZJsqzE",None,2016-12-12 20:33:08,0,0,"Chicago, IL",111,BurtFuji

In [142]:
df1.to_csv('df1_raw_data.csv')

<h4>Create and save raw dataset 2: "Englewood" AND "Chicago"</h4>

In [15]:
api.rate_limit_status('search')  # checks the status of my search request limit

{'rate_limit_context': {'access_token': '2382930698-0eCycGIeqv4SUmOvSINQbkhnb2v9hTPDlSpcb8q'},
 'resources': {'search': {'/search/tweets': {'limit': 180,
    'remaining': 44,
    'reset': 1481385045}}}}

In [62]:
community_area_name_ds2 = []
coordinates_ds2 = []
date_time_ds2 = []
num_retweet_ds2 = []
num_liked_ds2 = []
tweet_content_ds2 = []

for tweet in tweepy.Cursor(api.search,
                           q = 'englewood' + 'chicago',
                           lang = 'en', 
                           geocode = '41.836944,-87.684722,15mi').items():
    community_area_name2.append('Englewood')
    coordinates_ds2.append(tweet.coordinates)
    date_time_ds2.append(tweet.created_at)
    num_retweet_ds2.append(tweet.retweet_count)
    num_liked_ds2.append(tweet.favorite_count)
    tweet_content_ds2.append(tweet.text)
    
df2 = pd.DataFrame({
        "Community Area Mentioned": community_area_name2,
        "Coordinates": coordinates_ds2,
        "Day and Time": date_time_ds2,
        "Number of Times Retweeted": num_retweet_ds2,
        "Number of Times Liked": num_liked_ds2,
        "Tweet Content": tweet_content_ds2})

In [63]:
df2.shape

(2, 5)

In [66]:
df2

,Coordinates,Day and Time,Number of Times Liked,Number of Times Retweeted,Tweet Content
0,None,2016-12-09 15:16:19,0,0,@TherealTaraji we love you Taraji # youth \n#Rise Foundation \n#EnglewoodChicago
1,None,2016-12-01 15:06:34,1,0,I'm just a product of what made me⭐️😷 #EnglewoodChicago https://t.co/nNdnJfys1E

In [20]:
# df2.to_csv('df2_raw_data.csv')  

# When I assure that the tweet uses both "Englewood" and "Chicago," then I get only 1-2 tweets for the last 6-9 days.
# For the rest of this notebook, therefore, I will leave df2 behind and continue to work with only df1 
# (because it's small enough for experimenting) and df3 (which covers every community area).

<h4>Create and save raw dataset 3: any of the 77 community area names AND within 15mi of Chicago</h4>

In [ ]:
# Dataset criteria: 
# list of tweets within last 6-9 days
# tweet mentions the name of one of 77 community areas
# tweet originates within 15 miles of Chicago, IL
# tweet is in English

In [68]:
# for list of community area names, importing csv file from previous homework assignment
SES = pd.read_csv('https://raw.githubusercontent.com/yarikan/final_project_in_progress/master/Census_Data_-_Selected_socioeconomic_indicators_in_Chicago__2008___2012.csv?token=AQAvwOm8ph3Ee0gA0SmW9m7zM5JecEtJks5YVFjYwA%3D%3D')
SES = SES.dropna()
SES
# SES.columns
# SES['COMMUNITY AREA NAME']

,Community Area Number,COMMUNITY AREA NAME,PERCENT OF HOUSING CROWDED,PERCENT HOUSEHOLDS BELOW POVERTY,PERCENT AGED 16+ UNEMPLOYED,PERCENT AGED 25+ WITHOUT HIGH SCHOOL DIPLOMA,PERCENT AGED UNDER 18 OR OVER 64,PER CAPITA INCOME,HARDSHIP INDEX
0,1.0,Rogers Park,7.7,23.6,8.7,18.2,27.5,23939,39.0
1,2.0,West Ridge,7.8,17.2,8.8,20.8,38.5,23040,46.0
2,3.0,Uptown,3.8,24.0,8.9,11.8,22.2,35787,20.0
3,4.0,Lincoln Square,3.4,10.9,8.2,13.4,25.5,37524,17.0
4,5.0,North Center,0.3,7.5,5.2,4.5,26.2,57123,6.0
5,6.0,Lake View,1.1,11.4,4.7,2.6,17.0,60058,5.0
6,7.0,Lincoln Park,0.8,12.3,5.1,3.6,21.5,71551,2.0
7,8.0,Near North Side,1.9,12.9,7.0,2.5,22.6,88669,1.0
8,9.0,Edison Park,1.1,3.3,6.5,7.4,35.3,40959,8.0
9,10.0,Norwood Park,2.0,5.4,9.0,11.5,39.5,32875,21.0
10,11.0,Jefferson Park,2.7,8.6,12.4,13.4,35.5,27751,25.0
11,12.0,Forest Glen,1.1,7.5,6.8,4.9,40.5,44164,11.0
12,13.0,North Park,3.9,13.2,9.9,14.4,39.0,26576,33.0
13,14.0,Albany Park,11.3,19.2,10.0,32.9,32.0,21323,53.0
14,15.0,Portage Park,4.1,11.6,12.6,19.3,34.0,24336,35.0
15,16.0,Irving Park,6.3,13.1,10.0,22.4,31.6,27249,34.0
16,17.0,Dunning,5.2,10.6,10.0,16.2,33.6,26282,28.0
17,18.0,Montclaire,8.1,15.3,13.8,23.5,38.6,22014,50.0
18,19.0,Belmont Cragin,10.8,18.7,14.6,37.3,37.3,15461,70.0
19,20.0,Hermosa,6.9,20.5,13.1,41.6,36.4,15089,71.0
20,21.0,Avondale,6.0,15.3,9.2,24.7,31.0,20039,42.0
21,22.0,Logan Square,3.2,16.8,8.2,14.8,26.2,31908,23.0
22,23.0,Humboldt park,14.8,33.9,17.3,35.4,38.0,13781,85.0
23,24.0,West Town,2.3,14.7,6.6,12.9,21.7,43198,10.0
24,25.0,Austin,6.3,28.6,22.6,24.4,37.9,15957,73.0
25,26.0,West Garfield Park,9.4,41.7,25.8,24.5,43.6,10934,92.0
26,27.0,East Garfield Park,8.2,42.4,19.6,21.3,43.2,12961,83.0
27,28.0,Near West Side,3.8,20.6,10.7,9.6,22.2,44689,15.0
28,29.0,North Lawndale,7.4,43.1,21.2,27.6,42.7,12034,87.0
29,30.0,South Lawndale,15.2,30.7,15.8,54.8,33.8,10402,96.0
...,...,...,...,...,...,...,...,...,...
47,48.0,Calumet Heights,2.1,11.5,20.0,11.0,44.0,28887,38.0
48,49.0,Roseland,2.5,19.8,20.3,16.9,41.2,17949,52.0
49,50.0,Pullman,1.5,21.6,22.8,13.1,38.6,20588,51.0
50,51.0,South Deering,4.0,29.2,16.3,21.0,39.5,14685,65.0
51,52.0,East Side,6.8,19.2,12.1,31.9,42.8,17104,64.0
52,53.0,West Pullman,3.3,25.9,19.4,20.5,42.1,16563,62.0
53,54.0,Riverdale,5.8,56.5,34.6,27.5,51.5,8201,98.0
54,55.0,Hegewisch,3.3,17.1,9.6,19.2,42.9,22677,44.0
55,56.0,Garfield Ridge,2.6,8.8,11.3,19.3,38.1,26353,32.0
56,57.0,Archer Heights,8.5,14.1,16.5,35.9,39.2,16134,67.0
57,58.0,Brighton Park,14.4,23.6,13.9,45.1,39.3,13089,84.0
58,59.0,McKinley Park,7.2,18.7,13.4,32.9,35.6,16954,61.0
59,60.0,Bridgeport,4.5,18.9,13.7,22.2,31.3,22694,43.0
60,61.0,New City,11.9,29.0,23.0,41.5,38.9,12765,91.0
61,62.0,West Elsdon,11.1,15.6,16.7,37.0,37.7,15754,69.0
62,63.0,Gage Park,15.8,23.4,18.2,51.5,38.8,12171,93.0
63,64.0,Clearing,2.7,8.9,9.5,18.8,37.6,25113,29.0
64,65.0,West Lawn,5.8,14.9,9.6,33.6,39.6,16907,56.0
65,66.0,Chicago Lawn,7.6,27.9,17.1,31.2,40.6,13231,80.0
66,67.0,West Englewood,4.8,34.4,35.9,26.3,40.7,11317,89.0
67,68.0,Englewood,3.8,46.6,28.0,28.5,42.5,11888,94.0
68,69.0,Greater Grand Crossing,3.6,29.6,23.0,16.5,41.0,17285,66.0
69,70.0,Ashburn,4.0,10.4,11.7,17.7,36.9,23482,37.0
70,71.0,Auburn Gresham,4.0,27.6,28.3,18.5,41.9,15528,74.0
71,72.0,Beverly,0.9,5.1,8.0,3.7,40.5,39523,12.0
72,73.0,Washington Height,1.1,16.9,20.8,13.7,42.6,19713,48.0
73,74.0,Mount Greenwood,1.0,3.4,8.7,4.3,36.8,34381,16.0
74,75.0,Morgan Park,0.8,13.2,15.0,10.8,40.3,27149,30.0
75,76.0,O'Hare,3.6,15.4,7.1,10.9,30.3,25828,24.0
76,77.0,Edgewater,4.1,18.2,9.2,9.7,23.8,33385,19.0

In [ ]:
community_area_name_ds3 = []
coordinates_ds3 = []
date_time_ds3 = []
num_retweet_ds3 = []
num_liked_ds3 = []
tweet_content_ds3 = []

for name in SES['COMMUNITY AREA NAME']:
    time.sleep(20)
    for tweet in tweepy.Cursor(api.search,
                               q = name,
                               geocode = "41.836944,-87.684722,15mi",
                               lang = "en").items():
        community_area_name_ds3.append(name.lower())
        coordinates_ds3.append(tweet.coordinates)
        date_time_ds3.append(tweet.created_at)
        num_retweet_ds3.append(tweet.retweet_count)
        num_liked_ds3.append(tweet.favorite_count)
        tweet_content_ds3.append(tweet.text)

df3 = pd.DataFrame({
        "Community Area Mentioned": community_area_name_ds3,
        "Coordinates": coordinates_ds3,
        "Day and Time": date_time_ds3,
        "Number of Times Retweeted": num_retweet_ds3,
        "Number of Times Liked": num_liked_ds3,
        "Tweet Content": tweet_content_ds3})

In [139]:
df3.shape

(1691, 14)

In [140]:
df3

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1,Community Area Mentioned,Coordinates,Day and Time,Number of Times Liked,Number of Times Retweeted,Tweet Content,Latitude,Longitude,Date,Sentiment,Compound
0,0,0,0,rogers park,"{'coordinates': [-87.67467921, 42.0160989], 't...",2016-03-17 23:35:26,1,1,"Cooked Ham, USDA Choice Roasts and Catfish Nug...",-87.674679,42.016099,2016-03-17,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
1,1,1,1,rogers park,"{'coordinates': [-87.6637497, 42.0137024], 'ty...",2016-03-17 13:28:24,0,0,Making it happen for Mary Taylor Sticha! @ Rog...,-87.663750,42.013702,2016-03-17,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
2,2,2,2,rogers park,"{'coordinates': [-87.67733976, 42.01507579], '...",2016-03-17 03:45:19,0,0,Just posted a photo @ Rogers Park Neighborhood...,-87.677340,42.015076,2016-03-17,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
3,3,3,3,rogers park,"{'coordinates': [-87.67733976, 42.01507579], '...",2016-03-17 03:19:10,0,0,Just posted a photo @ Rogers Park Neighborhood...,-87.677340,42.015076,2016-03-17,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
4,4,4,4,rogers park,"{'coordinates': [-87.67733976, 42.01507579], '...",2016-03-16 20:26:16,1,0,The clouds are moving today! @ Rogers Park Nei...,-87.677340,42.015076,2016-03-16,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
5,5,5,5,rogers park,"{'coordinates': [-87.666285, 42.007317], 'type...",2016-03-16 15:43:47,2,0,I'm at Rogers Park Social - @rpsocialbar in Ch...,-87.666285,42.007317,2016-03-16,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
6,6,6,6,rogers park,"{'coordinates': [-87.67733976, 42.01507579], '...",2016-03-16 08:40:07,0,0,Wild for the night. Fuck bein' polite. @ Roger...,-87.677340,42.015076,2016-03-16,"{'neg': 0.259, 'neu': 0.741, 'pos': 0.0, 'comp...",-0.5423
7,7,7,7,rogers park,"{'coordinates': [-87.67733976, 42.01507579], '...",2016-03-16 08:37:36,0,0,Ma Gurls!! @ Rogers Park Neighborhood https://...,-87.677340,42.015076,2016-03-16,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
8,8,8,8,rogers park,"{'coordinates': [-87.67733976, 42.01507579], '...",2016-03-15 17:01:16,0,0,Casting my vote in the art room of a charter s...,-87.677340,42.015076,2016-03-15,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
9,9,9,9,rogers park,"{'coordinates': [-87.67733976, 42.01507579], '...",2016-03-15 14:21:10,0,0,Folks... I think I felt the Bern... @ Rogers P...,-87.677340,42.015076,2016-03-15,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
10,10,10,10,rogers park,"{'coordinates': [-87.69468805, 42.01308307], '...",2016-03-15 13:40:31,2,0,Just #Voted #IllinoisPrimary (@ Rogers (Philli...,-87.694688,42.013083,2016-03-15,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
11,11,11,11,rogers park,"{'coordinates': [-87.67733976, 42.01507579], '...",2016-03-15 02:05:00,1,0,Day 14 Goals: To finish grading before 10pm #D...,-87.677340,42.015076,2016-03-15,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
12,12,12,12,rogers park,"{'coordinates': [-87.67733976, 42.01507579], '...",2016-03-13 21:35:20,0,0,Quiet Sunday. @ Rogers Park Neighborhood https...,-87.677340,42.015076,2016-03-13,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
13,13,13,13,rogers park,NaN,2016-03-13 05:11:27,0,1,RT @RogersParkCoC: New lofts in a beautiful ex...,NaN,NaN,2016-03-13,"{'neg': 0.0, 'neu': 0.813, 'pos': 0.187, 'comp...",0.5994
14,14,14,14,rogers park,"{'coordinates': [-87.6662979, 42.0074272], 'ty...",2016-03-12 01:02:57,0,0,"Hey, Donnie. Heard you bailed on your own part...",-87.666298,42.007427,2016-03-12,"{'neg': 0.0, 'neu': 0.731, 'pos': 0.269, 'comp...",0.7096
15,15,15,15,rogers park,"{'coordinates': [-87.67733976, 42.01507579], '...",2016-03-12 00:41:15,1,0,Day 11 First Lady Friday: Go Michelle! #DePaul...,-87.677340,42.015076,2016-03-12,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
16,16,16,16,rogers park,"{'coordinates': [-87.67163858, 42.01077103], '...",2016-03-11 19:13:44,1,0,"I'm at Rogers Park in Chicago, IL https://t.co...",-87.671639,42.010771,2016-03-11,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
17,17,17,17,rogers park,"{'coordinates': [-87.67163858, 42.01077103], '...",2016-03-11 07:28:36,1,0,"I'm at Rogers Park in Chicago, IL https://t.co...",-87.671639,42.010771,2016-03-11,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
18,18,18,18,rogers park,"{'coordinates': [-87.66382512, 42.01402818], '...",2016-03-11 02:18:14,0,0,"No Chopstix #tbt @ Rogers Park, Chicago, Illin...",-87.663825,42.014028,2016-03-11,"{'neg': 0.239, 'neu': 0.761, 'pos': 0.0, 'comp...",-0.2960
19,19,19,19,rogers park,"{'coordinates': [-87.6758728, 42.0188026], 'ty...",2016-03-11 00:23:39,6,1,Rogers Park Chamber of Commerce member Hard Wa...,-87.675873,42.018803,2016-03-11,"{'neg': 0.157, 'neu': 0.843, 'pos': 0.0, 'comp...",-0.2023
20,20,20,20,rogers park,"{'coordinates': [-87.67733976, 42.01507579], '...",2016-03-10 23:29:28,1,0,Day 10 #OTWWB Go Blue Demons! #DePaulWomenRock...,-87.677340,42.015076,2016-03-10,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
21,21,21,21,rogers park,"{'coordinates': [-87.67733976, 42.01507579], '...",2016-03-10 05:34:02,0,0,#food #foodporn #delicious #chef #homemade @ R...,-87.677340,42.015076,2016-03-10,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
22,22,22,22,rogers park,"{'coordinates': [-87.6637497, 42.0137024], 'ty...",2016-03-09 04:42:46,5,0,It was a beautiful morning! @ Rogers Park Cham...,-87.663750,42.013702,2016-03-09,"{'neg': 0.0, 'neu': 0.682, 'pos': 0.318, 'comp...",0.6360
23,23,23,23,rogers park,"{'coordinates': [-87.66382512, 42.01402818], '...",2016-03-08 22:12:33,0,0,"Just posted a photo @ Rogers Park, Chicago, Il...",-87.663825,42.014028,2016-03-08,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
24,24,24,24,west ridge,"{'coordinates': [-87.69035633, 42.00497368], '...",2016-03-15 22:04:09,0,0,"Voting (@ West Ridge Neighborhood in Chicago, ...",-87.690356,42.004974,2016-03-15,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
25,25,25,25,west ridge,"{'coordinates': [-87.62626724, 41.88804564], '...",2016-03-09 01:25:09,0,0,"Jessica Suarez, 21, reported missing from West...",-87.626267,41.888046,2016-03-09,"{'neg': 0.216, 'neu': 0.784, 'pos': 0.0, 'comp...",-0.2960
26,26,26,26,uptown,"{'coordinates': [-87.65834662, 41.96743858], '...",2016-03-17 13:17:47,0,0,Morning Happy St Patrick Day🍀🍀🍀 (@ Uptown in C...,-87.658347,41.967439,2016-03-17,"{'neg': 0.0, 'neu': 0.73, 'pos': 0.27, 'compou...",0.5719
27,27,27,27,uptown,"{'coordinates': [-87.6297982, 41.8781136], 'ty...",2016-03-17 13:01:07,0,0,Join the Fresenius Medical Care team! See our ...,-87.629798,41.878114,2016-03-17,"{'neg': 0.0, 'neu': 0.725, 'pos': 0.275, 'comp...",0.6900
28,28,28,28,uptown,"{'coordinates': [-87.65834662, 41.96743858], '...",2016-03-16 22:47:56,0,0,"Leaving the station. (@ Uptown in Chicago, IL)...",-87.658347,41.967439,2016-03-16,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
29,29,29,29,uptown,"{'coordinates': [-87.6297982, 41.8781136], 'ty...",2016-03-16 21:22:27,0,0,This #Retail #job might be a great fit for you...,-87.629798,41.878114,2016-03-16,"{'neg': 0.0, 'neu': 0.694, 'pos': 0.306, 'comp...",0.7650
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1661,1661,1661,1661,o'hare,"{'coordinates': [-87.90440083, 41.97727092], '...",2016-03-08 14:24:58,1,0,Off to Seattle. Again. Woohoo (@ Chicago O'Har...,-87.904401,41.977271,2016-03-08,"{'neg': 0.0, 'neu': 0.809, 'pos': 0.191, 'comp...",0.5106
1662,1662,1662,1662,o'hare,"{'coordinates': [-87.90353091, 41.97695318], '...",2016-03-08 13:43:24,0,0,Ready to fly. #vietnamlife @ Chicago O'Hare In...,-87.903531,41.976953,2016-03-08,"{'neg': 0.0, 'neu': 0.762, 'pos': 0.238, 'comp...",0.3612
1663,1663,1663,1663,o'hare,"{'coordinates': [-87.90353091, 41.97695318], '...",2016-03-08 13:25:51,1,0,#Chicago Sky... @ Chicago O'Hare International...,-87.903531,41.976953,2016-03-08,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
1664,1664,1664,1664,edgewater,"{'coordinates': [-87.66125419, 41.98585044], '...",2016-03-17 21:33:51,0,0,#girldown #alldone #girlygirl #girlpower #barb...,-87.661254,41.985850,2016-03-17,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
1665,1665,1665,1665,edgewater,"{'coordinates': [-87.66125419, 41.98585044], '...",2016-03-17 21:20:50,0,0,#flowersinthehood #iloveflowers @ Edgewater Ne...,-87.661254,41.985850,2016-03-17,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
1666,1666,1666,1666,edgewater,"{'coordinates': [-87.66, 41.99], 'type': 'Point'}",2016-03-17 16:53:41,1,0,Flowers are popping up everywhere! 🙋🏼🌱 @ Edgew...,-87.660000,41.990000,2016-03-17,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
1667,1667,1667,1667,edgewater,"{'coordinates': [-87.66986847, 41.99598767], '...",2016-03-17 09:54:39,0,0,"I'm at Edgewater in Chicago, IL https://t.co/w...",-87.669868,41.995988,2016-03-17,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
1668,1668,1668,1668,edgewater,"{'coordinates': [-87.66125419, 41.98585044], '...",2016-03-16 18:24:05,0,0,Just posted a photo @ Edgewater Neighborhood h...,-87.661254,41.985850,2016-03-16,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
1669,1669,1669,1669,edgewater,"{'coordinates': [-87.66986847, 41.99598767], '...",2016-03-16 12:14:30,0,0,"I'm at Edgewater in Chicago, IL https://t.co/w...",-87.669868,41.995988,2016-03-16,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
1670,1670,1670,1670,edgewater,"{'coordinates': [-87.6620789, 41.998024], 'typ...",2016-03-16 00:30:35,1,0,"""it's 10 am and I'm turned on by sushi"" @ Nori...",-87.662079,41.998024,2016-03-16,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
1671,1671,1671,1671,edgewater,"{'coordinates': [-87.6604462, 41.99091835], 't...",2016-03-15 22:29:51,0,0,Been waiting all day to post this photo! #illi...,-87.660446,41.990918,2016-03-15,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
1672,1672,1672,1672,edgewater,"{'coordinates': [-87.654951, 41.981994], 'type...",2016-03-15 14:45:26,1,0,I'm at 48th Ward Polling - Edgewater Plaza in ...,-87.654951,41.981994,2016-03-15,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
1673,1673,1673,1673,edgewater,"{'coordinates': [-87.6603876, 41.9905155], 'ty...",2016-03-15 12:20:42,0,0,"I voted! Please go, so far 33 people have vote...",-87.660388,41.990516,2016-03-15,"{'neg': 0.0, 'neu': 0.682, 'pos': 0.318, 'comp...",0.7896
1674,1674,1674,1674,edgewater,"{'coordinates': [-87.66125419, 41.98585044], '...",2016-03-14 23:51:00,0,0,In my hood! #excited @ Edgewater Neighborhood...,-87.661254,41.985850,2016-03-14,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
1675,1675,1675,1675,edgewater,"{'coordinates': [-87.66986847, 41.99598767], '...",2016-03-14 13:08:12,0,0,"I'm at Edgewater in Chicago, IL https://t.co/e...",-87.669868,41.995988,2016-03-14,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
1676,1676,1676,1676,edgewater,"{'coordinates': [-87.66986847, 41.99598767], '...",2016-03-13 12:41:01,0,0,"I'm at Edgewater in Chicago, IL https://t.co/G...",-87.669868,41.995988,2016-03-13,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
1677,1677,1677,1677,edgewater,"{'coordinates': [-87.66055259, 41.99103415], '...",2016-03-12 19:06:47,0,0,#EarlyVoting #FeeltheBern #Bernie2016 #NotMeUs...,-87.660553,41.991034,2016-03-12,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
1678,1678,1678,1678,edgewater,"{'coordinates': [-87.66055259, 41.99103415], '...",2016-03-12 19:02:51,1,0,Voting! #feelthebern #bernie2016 #notmeus (@ E...,-87.660553,41.991034,2016-03-12,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
1679,1679,1679,1679,edgewater,"{'coordinates': [-87.66986847, 41.99598767], '...",2016-03-12 12:08:15,0,0,"I'm at Edgewater in Chicago, IL https://t.co/g...",-87.669868,41.995988,2016-03-12,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
1680,1680,1680,1680,edgewater,"{'coordinates': [-87.65724475, 41.99513874], '...",2016-03-12 02:08:47,0,0,Former ballroom #2 #edgewaterathleticclub @ Ed...,-87.657245,41.995139,2016-03-12,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
1681,1681,1681,1681,edgewater,"{'coordinates': [-87.65724475, 41.99513874], '...",2016-03-12 02:07:23,0,0,Former ballroom. #edgewaterathleticclub @ Edge...,-87.657245,41.995139,2016-03-12,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
1682,1682,1682,1682,edgewater,"{'coordinates': [-87.6604462, 41.99091835], 't...",2016-03-11 23:02:01,2,0,🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥 @ Edgewater Library https://t.co/SG...,-87.660446,41.990918,2016-03-11,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
1683,1683,1683,1683,edgewater,"{'coordinates': [-87.66986847, 41.99598767], '...",2016-03-11 11:53:13,0,0,"I'm at Edgewater in Chicago, IL https://t.co/1...",-87.669868,41.995988,2016-03-11,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
1684,1684,1684,1684,edgewater,"{'coordinates': [-87.6604462, 41.99091835], 't...",2016-03-10 20:09:22,0,0,Omgosh yes it's a giant nest for Easter! Love...,-87.660446,41.990918,2016-03-10,"{'neg': 0.0, 'neu': 0.556, 'pos': 0.444, 'comp...",0.8856
1685,1685,1685,1685,edgewater,"{'coordinates': [-87.66125419, 41.98585044], '...",2016-03-10 15:54:01,0,0,#pinklady #architecture #historyinthehood @ Ed...,-87.661254,41.985850,2016-03-10,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
1686,1686,1686,1686,edgewater,"{'coordinates': [-87.66986847, 41.99598767], '...",2016-03-10 13:22:57,0,0,"I'm at Edgewater in Chicago, IL https://t.co/Y...",-87.669868,41.995988,2016-03-10,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
1687,1687,1687,1687,edgewater,"{'coordinates': [-87.66986847, 41.99598767], '...",2016-03-09 15:26:49,0,0,"I'm at Edgewater in Chicago, IL https://t.co/r...",-87.669868,41.995988,2016-03-09,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
1688,1688,1688,1688,edgewater,"{'coordinates': [-87.66986847, 41.99598767], '...",2016-03-09 13:25:04,0,0,"I'm at Edgewater in Chicago, IL https://t.co/y...",-87.669868,41.995988,2016-03-09,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
1689,1689,1689,1689,edgewater,"{'coordinates': [-87.66001468, 41.99137895], '...",2016-03-08 22:07:26,0,0,Our first time eatin at the @wholefoods #edgew...,-87.660015,41.991379,2016-03-08,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
1690,1690,1690,1690,edgewater,"{'coordinates': [-87.66986847, 41.99598767], '...",2016-03-08 13:58:32,0,0,"I'm at Edgewater in Chicago, IL https://t.co/U...",-87.669868,41.995988,2016-03-08,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000

In [29]:
df3.to_csv('df3_raw_data.csv')  # resulted in 1,691 tweets on 3/17/16

# Step 2: Do sentiment analysis of tweets

In [7]:
df1 = pd.read_csv('https://raw.githubusercontent.com/yarikan/final_project_in_progress/master/df1_raw_data.csv?token=AQAvwAvWcbuCGIeknomQgS0IPKZmQ_1Rks5YVX7OwA%3D%3D')

In [8]:
df1.columns

Index(['Unnamed: 0', 'Community Area Mentioned', 'Tweet Content',
       'Tweet Coordinates', 'Tweet Day and Time',
       'Tweet Number of Times Liked', 'Tweet Number of Times Retweeted',
       'User Location', 'User Number of Followers', 'User Screen Name'],
      dtype='object')

In [9]:
import nltk

In [10]:
# in command line, pip install twython 
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [11]:
analyzer = SentimentIntensityAnalyzer()
df1["Sentiment"] = df1['Tweet Content'].apply(lambda tweet: analyzer.polarity_scores(tweet))

In [13]:
df1[0:1]

,Unnamed: 0,Community Area Mentioned,Tweet Content,Tweet Coordinates,Tweet Day and Time,Tweet Number of Times Liked,Tweet Number of Times Retweeted,User Location,User Number of Followers,User Screen Name,Sentiment
0,0,Englewood,Plz help us give a toy 2 a kid in Englewood 4 Xmas\n312-576-2391 we will pick up donations or deliver them to Xperie… https://t.co/OAy0SNqhiU,NaN,2016-12-12 20:36:08,0,0,"Englewood, Chicago",601,mystrogrant,"{'pos': 0.174, 'neg': 0.0, 'compound': 0.4588, 'neu': 0.826}"

In [14]:
df1.Sentiment[0]

# The following examples demonstrate the value of the compound score:
# VADER is smart, handsome, and funny. {'neg': 0.0, 'neu': 0.254, 'pos': 0.746, 'compound': 0.8316} 
# VADER is smart, handsome, and funny! {'neg': 0.0, 'neu': 0.248, 'pos': 0.752, 'compound': 0.8439} 
# VADER is very smart, handsome, and funny. {'neg': 0.0, 'neu': 0.299, 'pos': 0.701, 'compound': 0.8545} 
# VADER is VERY SMART, handsome, and FUNNY. {'neg': 0.0, 'neu': 0.246, 'pos': 0.754, 'compound': 0.9227} 
# VADER is VERY SMART, handsome, and FUNNY!!! {'neg': 0.0, 'neu': 0.233, 'pos': 0.767, 'compound': 0.9342} 
# VADER is VERY SMART, really handsome, and INCREDIBLY FUNNY!!! {'neg': 0.0, 'neu': 0.294, 'pos': 0.706, 'compound': 0.9469}

{'compound': 0.4588, 'neg': 0.0, 'neu': 0.826, 'pos': 0.174}

In [15]:
df1['Sentiment'][0]

{'compound': 0.4588, 'neg': 0.0, 'neu': 0.826, 'pos': 0.174}

In [16]:
print(type(df1['Sentiment'][0]))

<class 'dict'>

In [17]:
# convert to string
df1['Sentiment'] = df1['Sentiment'].apply(str)

In [18]:
print(type(df1['Sentiment'][0]))

<class 'str'>

<h4>Extracting sentiment compound scores as additional column</h4>

In [19]:
df1_temp = df1['Sentiment'].str.split(',').apply(pd.Series)
df1_temp[0:5]

               0              1                     2               3
0  {'pos': 0.174   'neg': 0.0     'compound': 0.4588    'neu': 0.826}
1  {'pos': 0.113   'neg': 0.351   'compound': -0.6124   'neu': 0.536}
2  {'pos': 0.107   'neg': 0.331   'compound': -0.6124   'neu': 0.562}
3  {'pos': 0.0     'neg': 0.507   'compound': -0.802    'neu': 0.493}
4  {'pos': 0.0     'neg': 0.474   'compound': -0.802    'neu': 0.526}

In [20]:
df1_temp[0][0:5]

0    {'pos': 0.174
1    {'pos': 0.113
2    {'pos': 0.107
3    {'pos': 0.0
4    {'pos': 0.0
Name: 0, dtype: object

In [21]:
left_split = df1_temp[0].str.split(': ').apply(pd.Series)
left_split[1][0:5]

0    0.174
1    0.113
2    0.107
3    0.0
4    0.0
Name: 1, dtype: object

In [22]:
compound = left_split[1].apply(float)
df1['Compound Sentiment Score'] = compound

In [23]:
df1.columns

Index(['Unnamed: 0', 'Community Area Mentioned', 'Tweet Content',
       'Tweet Coordinates', 'Tweet Day and Time',
       'Tweet Number of Times Liked', 'Tweet Number of Times Retweeted',
       'User Location', 'User Number of Followers', 'User Screen Name',
       'Sentiment', 'Compound Sentiment Score'],
      dtype='object')

In [24]:
df1[0:5]

,Unnamed: 0,Community Area Mentioned,Tweet Content,Tweet Coordinates,Tweet Day and Time,Tweet Number of Times Liked,Tweet Number of Times Retweeted,User Location,User Number of Followers,User Screen Name,Sentiment,Compound Sentiment Score
0,0,Englewood,Plz help us give a toy 2 a kid in Englewood 4 Xmas\n312-576-2391 we will pick up donations or deliver them to Xperie… https://t.co/OAy0SNqhiU,NaN,2016-12-12 20:36:08,0,0,"Englewood, Chicago",601,mystrogrant,"{'pos': 0.174, 'neg': 0.0, 'compound': 0.4588, 'neu': 0.826}",0.174
1,1,Englewood,"Pay Family Of Man Killed By Cops $2.34M, Finance Committee Recommends https://t.co/lW19FdWMsw",NaN,2016-12-12 20:33:17,0,0,"Chicago, IL",215,CosbyChicago,"{'pos': 0.113, 'neg': 0.351, 'compound': -0.6124, 'neu': 0.536}",0.113
2,2,Englewood,"Pay Family Of Man Killed By Cops $2.34M, Finance Committee Recommends https://t.co/pFOWw1uNwc https://t.co/1ZB0ZJsqzE",NaN,2016-12-12 20:33:08,0,0,"Chicago, IL",111,BurtFuji,"{'pos': 0.107, 'neg': 0.331, 'compound': -0.6124, 'neu': 0.562}",0.107
3,3,Englewood,"Man killed in Englewood shooting, crash identified https://t.co/u4zp50KKYz #chicago",NaN,2016-12-12 20:30:07,0,0,"Chicago, Illinois",19150,chicagonewsnow,"{'pos': 0.0, 'neg': 0.507, 'compound': -0.802, 'neu': 0.493}",0.000
4,4,Englewood,"Man killed in Englewood shooting, crash identified... #news #Chicago https://t.co/gOxJDsJOiB",NaN,2016-12-12 20:28:02,0,0,"Chicago, IL",127,GeosNewsChicago,"{'pos': 0.0, 'neg': 0.474, 'compound': -0.802, 'neu': 0.526}",0.000

In [160]:
df1.to_csv('df1_wCompound.csv')

In [137]:
#df3_temp = df3['Sentiment'].str.split(',').apply(pd.Series)
#left_split = df3_temp[3].str.split(': ').apply(pd.Series)
#compound = left_split[1].apply(float)
#df3['Compound'] = compound
#df3.to_csv('df3_wCompound.csv')

# Step 3: Descriptive Statistics

In [25]:
df1 = pd.read_csv('https://raw.githubusercontent.com/yarikan/final_project_in_progress/master/df1_wCompound.csv?token=AQAvwAyoKxP3pVfAj5BdS7tCHl1C4B6Vks5YWCR_wA%3D%3D')
#df3 = pd.read_csv('https://raw.githubusercontent.com/yarikan/assignments/master/Final_Project/df3_wCompound.csv?token=AQAvwO0ktyQ0b5QB5tjc9kAJoazk7EnVks5W9J9RwA%3D%3D')

In [26]:
df1.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Community Area Mentioned',
       'Tweet Content', 'Tweet Coordinates', 'Tweet Day and Time',
       'Tweet Number of Times Liked', 'Tweet Number of Times Retweeted',
       'User Location', 'User Number of Followers', 'User Screen Name',
       'Sentiment', 'Compound Sentiment Score'],
      dtype='object')

In [27]:
del df1['Unnamed: 0']
del df1['Unnamed: 0.1']

In [37]:
df1['Count 1'] = 1

In [38]:
df1.shape

(964, 16)

In [30]:
# computing an index for neighborhood sentiment:
# for the purpose of this exercise, I assume that followers, users who "like" a tweet, and users who retweet it 
# each play an additive role in tweet influence. I compute their impact separately below even though in reality 
# they may overlap in terms of users.

# compound sentiment score * user number of followers = exposure1 
df1['User to Follower Diffusion'] = df1['Compound Sentiment Score']*df1['User Number of Followers']

# compound sentiment score * tweet number of likes = exposure2
df1['User to Liker Diffusion'] = df1['Compound Sentiment Score']*df1['Tweet Number of Times Liked']

# compound sentiment score * tweet number of retweeted = exposure3
df1['User to Retweeter Diffusion'] = df1['Compound Sentiment Score']*df1['Tweet Number of Times Retweeted']

# exposure1 + exposure2 + exposure3 = total level of diffussion of ONE tweet's sentiment, tweet may or may not be a retweet of another 
df1['Tweet Sentiment Total Diffusion'] = df1['User to Follower Diffusion'] + df1['User to Liker Diffusion'] + df1['User to Retweeter Diffusion']

In [39]:
df1[0:5]

,Community Area Mentioned,Tweet Content,Tweet Coordinates,Tweet Day and Time,Tweet Number of Times Liked,Tweet Number of Times Retweeted,User Location,User Number of Followers,User Screen Name,Sentiment,Compound Sentiment Score,User to Follower Diffusion,User to Liker Diffusion,User to Retweeter Diffusion,Tweet Sentiment Total Diffusion,Count 1
0,Englewood,Plz help us give a toy 2 a kid in Englewood 4 Xmas\n312-576-2391 we will pick up donations or deliver them to Xperie… https://t.co/OAy0SNqhiU,NaN,2016-12-12 20:36:08,0,0,"Englewood, Chicago",601,mystrogrant,"{'compound': 0.4588, 'neu': 0.826, 'neg': 0.0, 'pos': 0.174}",0.4588,275.7388,0.0,0.0,275.7388,1
1,Englewood,"Pay Family Of Man Killed By Cops $2.34M, Finance Committee Recommends https://t.co/lW19FdWMsw",NaN,2016-12-12 20:33:17,0,0,"Chicago, IL",215,CosbyChicago,"{'compound': -0.6124, 'neu': 0.536, 'neg': 0.351, 'pos': 0.113}",-0.6124,-131.6660,-0.0,-0.0,-131.6660,1
2,Englewood,"Pay Family Of Man Killed By Cops $2.34M, Finance Committee Recommends https://t.co/pFOWw1uNwc https://t.co/1ZB0ZJsqzE",NaN,2016-12-12 20:33:08,0,0,"Chicago, IL",111,BurtFuji,"{'compound': -0.6124, 'neu': 0.562, 'neg': 0.331, 'pos': 0.107}",-0.6124,-67.9764,-0.0,-0.0,-67.9764,1
3,Englewood,"Man killed in Englewood shooting, crash identified https://t.co/u4zp50KKYz #chicago",NaN,2016-12-12 20:30:07,0,0,"Chicago, Illinois",19150,chicagonewsnow,"{'compound': -0.802, 'neu': 0.493, 'neg': 0.507, 'pos': 0.0}",-0.8020,-15358.3000,-0.0,-0.0,-15358.3000,1
4,Englewood,"Man killed in Englewood shooting, crash identified... #news #Chicago https://t.co/gOxJDsJOiB",NaN,2016-12-12 20:28:02,0,0,"Chicago, IL",127,GeosNewsChicago,"{'compound': -0.802, 'neu': 0.526, 'neg': 0.474, 'pos': 0.0}",-0.8020,-101.8540,-0.0,-0.0,-101.8540,1

In [52]:
# compute the number of tweets (total, positive, negative) for neighborhood:

# total number of tweets:
tweet_neighb = df1.groupby('Community Area Mentioned')
tweet_total_neighb = tweet_neighb['Community Area Mentioned'].agg('count')
tweet_total_neighb

Community Area Mentioned
Englewood    964
Name: Community Area Mentioned, dtype: int64

In [53]:
tweet_neighb = df1.groupby('Community Area Mentioned')
# total number of positive tweets:
total_tweet_neighb_pos = tweet_neighb.apply(lambda x: x[x['Compound Sentiment Score'] > 0]['Count 1'].sum())
# total number of negative tweets:
total_tweet_neighb_neg = tweet_neighb.apply(lambda x: x[x['Compound Sentiment Score'] < 0]['Count 1'].sum())
# total number of neutral tweets:
total_tweet_neighb_neu = tweet_neighb.apply(lambda x: x[x['Compound Sentiment Score'] == 0]['Count 1'].sum())
# total number of tweets:
total_tweet_neighb = total_tweet_neighb_pos + total_tweet_neighb_neg + total_tweet_neighb_neu

print(total_tweet_neighb_pos)
print(total_tweet_neighb_neg)
print(total_tweet_neighb_neu)
print(total_tweet_neighb)

Community Area Mentioned
Englewood    243
dtype: int64
Community Area Mentioned
Englewood    379
dtype: int64
Community Area Mentioned
Englewood    342
dtype: int64
Community Area Mentioned
Englewood    964
dtype: int64

In [54]:
tweet_neighb = df1.groupby('Community Area Mentioned')
# total positive tweet influence:
total_tweet_neighb_pos_infl = tweet_neighb.apply(lambda x: x[x['Compound Sentiment Score'] > 0]['Tweet Sentiment Total Diffusion'].sum())
# total negative tweet influence:
total_tweet_neighb_neg_infl = tweet_neighb.apply(lambda x: x[x['Compound Sentiment Score'] < 0]['Tweet Sentiment Total Diffusion'].sum())
# total neutral tweet influence:
total_tweet_neighb_neu_infl = tweet_neighb.apply(lambda x: x[x['Compound Sentiment Score'] == 0]['Tweet Sentiment Total Diffusion'].sum())

print(total_tweet_neighb_pos_infl)
print(total_tweet_neighb_neg_infl)
print(total_tweet_neighb_neu_infl)

Community Area Mentioned
Englewood    909049.2071
dtype: float64
Community Area Mentioned
Englewood   -4.238438e+06
dtype: float64
Community Area Mentioned
Englewood    0.0
dtype: float64

In [56]:
((5*(total_tweet_neighb_neg_infl))+total_tweet_neighb_pos_infl)/(total_tweet_neighb_pos + total_tweet_neighb_neg)
# but this is missing entirely all neutral tweets. is that the right way to think about it?

Community Area Mentioned
Englewood   -32609.551602
dtype: float64

In [ ]:
#for score in df1['Compound Sentiment Score']:
#    if score < 0:
#        print(score)

<h4>Computing weighted sum of sentiments per neighborhood, giving more weight to negative tweets </h4>
Based on HBR article (Folkman, Jack Zenger and Joseph. 2013. “The Ideal Praise-to-Criticism Ratio.” Harvard Business Review. March 15. https://hbr.org/2013/03/the-ideal-praise-to-criticism.), ideal praise-to-criticism ratio = 5-6 positive comments for every negative one: assume 5 positive for every 1 negative.

In [32]:
sum_pos_sentiment_diffusion = 0
sum_neg_sentiment_diffusion = 0

for score in df1['Compound Sentiment Score']:
    if score > 0:
        sum_pos_sentiment_diffusion += score
    if score < 0:
        sum_neg_sentiment_diffusion += score

print(sum_pos_sentiment_diffusion)
print(sum_neg_sentiment_diffusion)

121.6472
-184.4313

In [241]:
# [weight * sum of positive sentiments for neighborhood] + [weight * sum of negative sentiments for neighborhood] = weighted total sentiment for neighborhood
neighborhood_sentiment_diffusion_index = (0.2*sum_pos_sentiment_diffusion) + (1*sum_neg_sentiment_diffusion)
neighborhood_sentiment_diffusion_index

-160.10185999999976

In [242]:
df1

,Community Area Mentioned,Tweet Content,Tweet Coordinates,Tweet Day and Time,Tweet Number of Times Liked,Tweet Number of Times Retweeted,User Location,User Number of Followers,User Screen Name,Sentiment,Compound Sentiment Score,User to Follower Diffusion,User to Liker Diffusion,User to Retweeter Diffusion,Tweet Total Diffusion
0,Englewood,Plz help us give a toy 2 a kid in Englewood 4 Xmas\n312-576-2391 we will pick up donations or deliver them to Xperie… https://t.co/OAy0SNqhiU,NaN,2016-12-12 20:36:08,0,0,"Englewood, Chicago",601,mystrogrant,"{'compound': 0.4588, 'neu': 0.826, 'neg': 0.0, 'pos': 0.174}",0.4588,275.7388,0.0000,0.0000,275.7388
1,Englewood,"Pay Family Of Man Killed By Cops $2.34M, Finance Committee Recommends https://t.co/lW19FdWMsw",NaN,2016-12-12 20:33:17,0,0,"Chicago, IL",215,CosbyChicago,"{'compound': -0.6124, 'neu': 0.536, 'neg': 0.351, 'pos': 0.113}",-0.6124,-131.6660,-0.0000,-0.0000,-131.6660
2,Englewood,"Pay Family Of Man Killed By Cops $2.34M, Finance Committee Recommends https://t.co/pFOWw1uNwc https://t.co/1ZB0ZJsqzE",NaN,2016-12-12 20:33:08,0,0,"Chicago, IL",111,BurtFuji,"{'compound': -0.6124, 'neu': 0.562, 'neg': 0.331, 'pos': 0.107}",-0.6124,-67.9764,-0.0000,-0.0000,-67.9764
3,Englewood,"Man killed in Englewood shooting, crash identified https://t.co/u4zp50KKYz #chicago",NaN,2016-12-12 20:30:07,0,0,"Chicago, Illinois",19150,chicagonewsnow,"{'compound': -0.802, 'neu': 0.493, 'neg': 0.507, 'pos': 0.0}",-0.8020,-15358.3000,-0.0000,-0.0000,-15358.3000
4,Englewood,"Man killed in Englewood shooting, crash identified... #news #Chicago https://t.co/gOxJDsJOiB",NaN,2016-12-12 20:28:02,0,0,"Chicago, IL",127,GeosNewsChicago,"{'compound': -0.802, 'neu': 0.526, 'neg': 0.474, 'pos': 0.0}",-0.8020,-101.8540,-0.0000,-0.0000,-101.8540
5,Englewood,"UPDATE: Man killed in Englewood shooting, crash identified as 31-year-old Nathaniel Lewis-Edwards. https://t.co/axQB8Rnzga",NaN,2016-12-12 20:26:02,0,0,Chicago,7918,CSTbreaking,"{'compound': -0.802, 'neu': 0.604, 'neg': 0.396, 'pos': 0.0}",-0.8020,-6350.2360,-0.0000,-0.0000,-6350.2360
6,Englewood,"Pay Family Of Man Killed By Cops $2.34M, Finance Committee Recommends https://t.co/mSg4tkAgD7 https://t.co/C92tUmlk1E",NaN,2016-12-12 20:22:07,0,0,"Chicago, IL",1120,evachicago,"{'compound': -0.6124, 'neu': 0.562, 'neg': 0.331, 'pos': 0.107}",-0.6124,-685.8880,-0.0000,-0.0000,-685.8880
7,Englewood,Volunteers from all over the city came out to help @MBMHMC clear snow for seniors in Englewood this weekend https://t.co/E52A6UjWWb,NaN,2016-12-12 20:21:01,0,0,"South Side, Chicago",2985,SouthSideWeekly,"{'compound': 0.6486, 'neu': 0.773, 'neg': 0.0, 'pos': 0.227}",0.6486,1936.0710,0.0000,0.0000,1936.0710
8,Englewood,Fund brings ‘Quality of Life’ to Englewood https://t.co/z7WViMcvlq via @CCChronicle,NaN,2016-12-12 19:56:13,0,0,"Englewood, Chicago",2105,Join_RAGE,"{'compound': 0.0, 'neu': 1.0, 'neg': 0.0, 'pos': 0.0}",0.0000,0.0000,0.0000,0.0000,0.0000
9,Englewood,@EricDickerson for Rams head coach! 👍🏽🙌🏽👊🏽,NaN,2016-12-12 19:50:57,0,0,"Chicago, IL",255,englewood_23,"{'compound': 0.0, 'neu': 1.0, 'neg': 0.0, 'pos': 0.0}",0.0000,0.0000,0.0000,0.0000,0.0000
10,Englewood,Retweeted MetroFamily Services (@MetroFamChicago):\n\nPeople from all over Chicago come to help @MBMHMC shovel... https://t.co/L7MfjHQ5Yv,NaN,2016-12-12 19:33:42,0,0,"Blue Island, IL",19,BIRCommunity,"{'compound': 0.4019, 'neu': 0.838, 'neg': 0.0, 'pos': 0.162}",0.4019,7.6361,0.0000,0.0000,7.6361
11,Englewood,RT @MetroFamChicago: People from all over Chicago come to help @MBMHMC shovel sidewalks for #Englewood 's elderly https://t.co/LyaUDtJhQa,NaN,2016-12-12 19:33:36,0,2,"Blue Island, IL",19,BIRCommunity,"{'compound': 0.4019, 'neu': 0.863, 'neg': 0.0, 'pos': 0.137}",0.4019,7.6361,0.0000,0.8038,8.4399
12,Englewood,"My partner in crime, @ABetterDayJulie, at The Montessori School of Englewood delivering present… https://t.co/2i4DU7pkFY","{'type': 'Point', 'coordinates': [-87.6677059, 41.7677267]}",2016-12-12 19:21:59,0,0,"Elmhurst, IL",1327,TheFBombs,"{'compound': -0.5423, 'neu': 0.788, 'neg': 0.212, 'pos': 0.0}",-0.5423,-719.6321,-0.0000,-0.0000,-719.6321
13,Englewood,"Boy, 16, shot in West Englewood.. Related Articles: https://t.co/CcepPXDo92",NaN,2016-12-12 19:12:45,0,0,"Chicago, IL",417,chicago_update,"{'compound': 0.0, 'neu': 1.0, 'neg': 0.0, 'pos': 0.0}",0.0000,0.0000,0.0000,0.0000,0.0000
14,Englewood,We all have this right! Live beautifully! #TheLifeOfMrsEnglewood https://t.co/1s33MUBtP4,NaN,2016-12-12 18:57:33,0,0,"Englewood, Chicago",1358,mrs_englewood,"{'compound': 0.6467, 'neu': 0.651, 'neg': 0.0, 'pos': 0.349}",0.6467,878.2186,0.0000,0.0000,878.2186
15,Englewood,Got RAGE? Join the Resident Association of Greater Englewood today! Complete an application online here &gt;&gt;&gt;&gt;&gt;… https://t.co/HOrJJW9iwB,NaN,2016-12-12 18:25:09,0,0,"Englewood, Chicago",2105,Join_RAGE,"{'compound': -0.2323, 'neu': 0.6, 'neg': 0.186, 'pos': 0.214}",-0.2323,-488.9915,-0.0000,-0.0000,-488.9915
16,Englewood,"RT @DNAinfoCHI: My Block, My Hood, My City gather volunteers from across the city to shovel snow in Englewood after weekend storm https://t…",NaN,2016-12-12 18:17:22,0,5,"Chicago, IL",1446,CPSuccessCHI,"{'compound': -0.4404, 'neu': 0.884, 'neg': 0.116, 'pos': 0.0}",-0.4404,-636.8184,-0.0000,-2.2020,-639.0204
17,Englewood,@Robert_Emmett13 @TheRealKngJames idk why but i get the feeling Tom hanks is legend at the buzzer beater 💀,NaN,2016-12-12 18:17:01,2,1,"Chicago, IL",255,englewood_23,"{'compound': 0.1406, 'neu': 0.826, 'neg': 0.071, 'pos': 0.103}",0.1406,35.8530,0.2812,0.1406,36.2748
18,Englewood,"Aye, I'm tryna be a millionaire overnight so I can transform Englewood into the new black wall street. To donate: https://t.co/BgKDbdBboS",NaN,2016-12-12 18:00:30,0,0,Chicago,4889,gabebritton,"{'compound': 0.0, 'neu': 1.0, 'neg': 0.0, 'pos': 0.0}",0.0000,0.0000,0.0000,0.0000,0.0000
19,Englewood,"Today begging will begin at 1pm\nFor toys, gloves, hats etc. Bless kids in Englewood. #Chicago #goodinEnglewood https://t.co/fUcViWS9ai",NaN,2016-12-12 17:56:18,0,0,"Englewood, Chicago",601,mystrogrant,"{'compound': 0.4215, 'neu': 0.859, 'neg': 0.0, 'pos': 0.141}",0.4215,253.3215,0.0000,0.0000,253.3215
20,Englewood,"RT @DNAinfoCHI: My Block, My Hood, My City gather volunteers from across the city to shovel snow in Englewood after weekend storm https://t…",NaN,2016-12-12 17:49:58,0,27,"Chicago, Illinois",389,SalonConcertChi,"{'compound': -0.4404, 'neu': 0.884, 'neg': 0.116, 'pos': 0.0}",-0.4404,-171.3156,-0.0000,-11.8908,-183.2064
21,Englewood,"RT @Join_RAGE: Englewood Spotlight: Check out the DNAinfo article discussing how My Block, My Hood, and volunteers helped... https://t.co/9…",NaN,2016-12-12 17:34:49,0,1,"Chicago, IL",1014,ashchicago6,"{'compound': -0.4404, 'neu': 0.861, 'neg': 0.139, 'pos': 0.0}",-0.4404,-446.5656,-0.0000,-0.4404,-447.0060
22,Englewood,"RT @DNAinfoCHI: My Block, My Hood, My City gather volunteers from across the city to shovel snow in Englewood after weekend storm https://t…",NaN,2016-12-12 17:27:17,0,27,"Chicago, IL",566,_ebtownsend,"{'compound': -0.4404, 'neu': 0.884, 'neg': 0.116, 'pos': 0.0}",-0.4404,-249.2664,-0.0000,-11.8908,-261.1572
23,Englewood,RT @MetroFamChicago: People from all over Chicago come to help @MBMHMC shovel sidewalks for #Englewood 's elderly https://t.co/LyaUDtJhQa,NaN,2016-12-12 17:18:04,0,2,"Skokie, IL",179,eMazingSkokie,"{'compound': 0.4019, 'neu': 0.863, 'neg': 0.0, 'pos': 0.137}",0.4019,71.9401,0.0000,0.8038,72.7439
24,Englewood,RT @MetroFamChicago: #Englewood entreprenuers: Pitch your business plan Thursday for a chance at a @wfmenglewood small business grant! http…,NaN,2016-12-12 16:57:29,0,2,Chicago Elgin Palos Hills,131,nashssdilaw,"{'compound': 0.5848, 'neu': 0.758, 'neg': 0.0, 'pos': 0.242}",0.5848,76.6088,0.0000,1.1696,77.7784
25,Englewood,"Englewood Spotlight: Check out the DNAinfo article discussing how My Block, My Hood, and volunteers helped... https://t.co/9gdzJ1cPh7",NaN,2016-12-12 16:35:10,0,1,"Englewood, Chicago",2105,Join_RAGE,"{'compound': -0.4404, 'neu': 0.847, 'neg': 0.153, 'pos': 0.0}",-0.4404,-927.0420,-0.0000,-0.4404,-927.4824
26,Englewood,People from all over Chicago come to help @MBMHMC shovel sidewalks for #Englewood 's elderly https://t.co/LyaUDtJhQa,NaN,2016-12-12 16:30:04,3,2,"Chicago, IL",1865,MetroFamChicago,"{'compound': 0.4019, 'neu': 0.847, 'neg': 0.0, 'pos': 0.153}",0.4019,749.5435,1.2057,0.8038,751.5530
27,Englewood,"RT @DNAinfoCHI: My Block, My Hood, My City gather volunteers from across the city to shovel snow in Englewood after weekend storm https://t…",NaN,2016-12-12 16:01:31,0,27,"Chicago, IL",205,ShellyPerry1,"{'compound': -0.4404, 'neu': 0.884, 'neg': 0.116, 'pos': 0.0}",-0.4404,-90.2820,-0.0000,-11.8908,-102.1728
28,Englewood,"RT @DNAinfoCHI: My Block, My Hood, My City gather volunteers from across the city to shovel snow in Englewood after weekend storm https://t…",NaN,2016-12-12 15:42:58,0,27,Chicago,481,oak_ink,"{'compound': -0.4404, 'neu': 0.884, 'neg': 0.116, 'pos': 0.0}",-0.4404,-211.8324,-0.0000,-11.8908,-223.7232
29,Englewood,"RT @DNAinfoCHI: My Block, My Hood, My City gather volunteers from across the city to shovel snow in Englewood after weekend storm https://t…",NaN,2016-12-12 15:37:56,0,27,"Chicago, IL",84,EdieMorris25,"{'compound': -0.4404, 'neu': 0.884, 'neg': 0.116, 'pos': 0.0}",-0.4404,-36.9936,-0.0000,-11.8908,-48.8844
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
934,Englewood,Man seriously hurt in apparent self-inflicted Englewood shooting... #news #Chicago https://t.co/nD8sS9dH8Q,NaN,2016-12-03 20:51:17,0,0,"Chicago, IL",127,GeosNewsChicago,"{'compound': -0.6249, 'neu': 0.638, 'neg': 0.362, 'pos': 0.0}",-0.6249,-79.3623,-0.0000,-0.0000,-79.3623
935,Englewood,Man seriously hurt in apparent self-inflicted Englewood shooting... #news #Chicago https://t.co/erpPnwLHhL,NaN,2016-12-03 20:51:17,0,0,"Chicago, IL",127,GeosNewsChicago,"{'compound': -0.6249, 'neu': 0.638, 'neg': 0.362, 'pos': 0.0}",-0.6249,-79.3623,-0.0000,-0.0000,-79.3623
936,Englewood,"Lil Steve meets his cousin Lil Tony and Lil Tony keep pulling my Baby's hair lol @ Englewood,… https://t.co/PJBFKNgqhA","{'type': 'Point', 'coordinates': [-87.64477778, 41.77978611]}",2016-12-03 20:49:34,0,0,"Chicago, IL",606,voemphasis,"{'compound': 0.4215, 'neu': 0.859, 'neg': 0.0, 'pos': 0.141}",0.4215,255.4290,0.0000,0.0000,255.4290
937,Englewood,"RT @DNAinfoCHI: Over $80,000 raised for 3 young sisters found living in an abandoned building https://t.co/KEej3n8wuo https://t.co/6Nz5fGx4…",NaN,2016-12-03 20:48:52,0,18,Dreamer's Paradise,410,OfficialDrmKpr,"{'compound': -0.4588, 'neu': 0.833, 'neg': 0.167, 'pos': 0.0}",-0.4588,-188.1080,-0.0000,-8.2584,-196.3664
938,Englewood,"RT @DNAinfoCHI: Over $80,000 raised for 3 young sisters found living in an abandoned building https://t.co/KEej3n8wuo https://t.co/6Nz5fGx4…",NaN,2016-12-03 20:48:16,0,18,"Chicago, IL",437,photobra,"{'compound': -0.4588, 'neu': 0.833, 'neg': 0.167, 'pos': 0.0}",-0.4588,-200.4956,-0.0000,-8.2584,-208.7540
939,Englewood,Man seriously hurt in apparent self-inflicted Englewood shooting: A man was hospitalized in serious condition…… https://t.co/joiVW6nCLv,NaN,2016-12-03 20:37:35,0,0,"South Side Chicago, IL",1449,SouthSideBuzz,"{'compound': -0.6597, 'neu': 0.652, 'neg': 0.348, 'pos': 0.0}",-0.6597,-955.9053,-0.0000,-0.0000,-955.9053
940,Englewood,Man Seriously Hurt In Apparent Self-Inflicted Englewood Shooting... #news #Chicago https://t.co/5ULBTQmluW,NaN,2016-12-03 20:37:00,0,0,"Chicago, IL",127,GeosNewsChicago,"{'compound': -0.6249, 'neu': 0.638, 'neg': 0.362, 'pos': 0.0}",-0.6249,-79.3623,-0.0000,-0.0000,-79.3623
941,Englewood,Man Seriously Hurt In Apparent Self-Inflicted #Englewood #Shooting: CHICAGO (CBS) — A man… https://t.co/zT7fsoJ85S,NaN,2016-12-03 20:36:05,0,0,CHICAGO,834,chicagopixels,"{'compound': -0.6249, 'neu': 0.662, 'neg': 0.338, 'pos': 0.0}",-0.6249,-521.1666,-0.0000,-0.0000,-521.1666
942,Englewood,Man seriously hurt in apparent self-inflicted Englewood shooting https://t.co/lurMEA41He,NaN,2016-12-03 20:28:14,1,0,Chicago,7918,CSTbreaking,"{'compound': -0.6249, 'neu': 0.579, 'neg': 0.421, 'pos': 0.0}",-0.6249,-4947.9582,-0.6249,-0.0000,-4948.5831
943,Englewood,"Over $80,000 Raised For 3 Young Sisters Found Living In Abandoned Building https://t.co/9aY1ilHEJ5",NaN,2016-12-03 20:02:41,0,0,CHICAGO,404,IRunBabylon,"{'compound': -0.4588, 'neu': 0.786, 'neg': 0.214, 'pos': 0.0}",-0.4588,-185.3552,-0.0000,-0.0000,-185.3552
944,Englewood,"#CarGoals @ Englewood, Chicago https://t.co/9WxUplI7nH","{'type': 'Point', 'coordinates': [-87.64477778, 41.77978611]}",2016-12-03 19:55:43,1,0,chi town,2470,solow74,"{'compound': 0.0, 'neu': 1.0, 'neg': 0.0, 'pos': 0.0}",0.0000,0.0000,0.0000,0.0000,0.0000
945,Englewood,"RT @DNAinfoCHI: Over $80,000 raised for 3 young sisters found living in an abandoned building https://t.co/KEej3n8wuo https://t.co/6Nz5fGx4…",NaN,2016-12-03 19:44:09,0,18,Vibe'n over Our Hoeism,4915,DiamondDogBark,"{'compound': -0.4588, 'neu': 0.833, 'neg': 0.167, 'pos': 0.0}",-0.4588,-2255.0020,-0.0000,-8.2584,-2263.2604
946,Englewood,"RT @DNAinfoCHI: Over $80,000 raised for 3 young sisters found living in an abandoned building https://t.co/KEej3n8wuo https://t.co/6Nz5fGx4…",NaN,2016-12-03 19:38:44,0,18,NaN,581,TheInfamousMarv,"{'compound': -0.4588, 'neu': 0.833, 'neg': 0.167, 'pos': 0.0}",-0.4588,-266.5628,-0.0000,-8.2584,-274.8212
947,Englewood,"RT @DNAinfoCHI: Over $80,000 raised for 3 young sisters found living in an abandoned building https://t.co/KEej3n8wuo https://t.co/6Nz5fGx4…",NaN,2016-12-03 19:34:17,0,18,In Your Mind,1182,CharlesExSavior,"{'compound': -0.4588, 'neu': 0.833, 'neg': 0.167, 'pos': 0.0}",-0.4588,-542.3016,-0.0000,-8.2584,-550.5600
948,Englewood,"RT @DNAinfoCHI: Over $80,000 raised for 3 young sisters found living in an abandoned building https://t.co/KEej3n8wuo https://t.co/6Nz5fGx4…",NaN,2016-12-03 19:32:45,0,18,Chicago/Northbrook/Glenview,8548,dnainfo_breen,"{'compound': -0.4588, 'neu': 0.833, 'neg': 0.167, 'pos': 0.0}",-0.4588,-3921.8224,-0.0000,-8.2584,-3930.0808
949,Englewood,"Over $80,000 Raised For 3 Young Sisters Found Living In Abandoned Building https://t.co/sJN2biFbtN",NaN,2016-12-03 19:23:50,0,0,"Chicago, IL",3679,andrewbadera,"{'compound': -0.4588, 'neu': 0.786, 'neg': 0.214, 'pos': 0.0}",-0.4588,-1687.9252,-0.0000,-0.0000,-1687.9252
950,Englewood,"RT @DNAinfoCHI: Over $80,000 raised for 3 young sisters found living in an abandoned building https://t.co/KEej3n8wuo https://t.co/6Nz5fGx4…",NaN,2016-12-03 19:18:46,0,18,Everywhere,1533,DutchieFlair,"{'compound': -0.4588, 'neu': 0.833, 'neg': 0.167, 'pos': 0.0}",-0.4588,-703.3404,-0.0000,-8.2584,-711.5988
951,Englewood,"RT @DNAinfoCHI: Over $80,000 raised for 3 young sisters found living in an abandoned building https://t.co/KEej3n8wuo https://t.co/6Nz5fGx4…",NaN,2016-12-03 19:16:28,0,18,"Chicago, Illinois",1929,BauerJournalism,"{'compound': -0.4588, 'neu': 0.833, 'neg': 0.167, 'pos': 0.0}",-0.4588,-885.0252,-0.0000,-8.2584,-893.2836
952,Englewood,"Over $80,000 Raised For 3 Young Sisters Found Living In Abandoned Building https://t.co/lEEKuq3exS",NaN,2016-12-03 19:14:43,1,0,"Chicago, IL",843,MaggieCarlo,"{'compound': -0.4588, 'neu': 0.786, 'neg': 0.214, 'pos': 0.0}",-0.4588,-386.7684,-0.4588,-0.0000,-387.2272
953,Englewood,"RT @DNAinfoCHI: Over $80,000 raised for 3 young sisters found living in an abandoned building https://t.co/KEej3n8wuo https://t.co/6Nz5fGx4…",NaN,2016-12-03 19:12:08,0,18,NaN,517,EndlessONEder,"{'compound': -0.4588, 'neu': 0.833, 'neg': 0.167, 'pos': 0.0}",-0.4588,-237.1996,-0.0000,-8.2584,-245.4580
954,Englewood,"RT @DNAinfoCHI: Over $80,000 raised for 3 young sisters found living in an abandoned building https://t.co/KEej3n8wuo https://t.co/6Nz5fGx4…",NaN,2016-12-03 19:10:56,0,18,Earth,1023,PupsherLive,"{'compound': -0.4588, 'neu': 0.833, 'neg': 0.167, 'pos': 0.0}",-0.4588,-469.3524,-0.0000,-8.2584,-477.6108
955,Englewood,RT @lewisachenbach: New collaboration @JoeyPriceMusic and @lewisachenbach courtesy of @push_public begins today @Starbucks Englewood 806 W…,NaN,2016-12-03 17:51:59,0,1,One South Wacker Dr.,69,push_public,"{'compound': 0.3612, 'neu': 0.857, 'neg': 0.0, 'pos': 0.143}",0.3612,24.9228,0.0000,0.3612,25.2840
956,Englewood,Chicago make you think losing yo life at a young age is normal💯,NaN,2016-12-03 17:15:56,1,3,"Chicago, IL",1032,Englewood_Kidd,"{'compound': -0.3818, 'neu': 0.809, 'neg': 0.191, 'pos': 0.0}",-0.3818,-394.0176,-0.3818,-1.1454,-395.5448
957,Englewood,"Just posted a photo @ Englewood, Chicago https://t.co/CQX25sOTSM",NaN,2016-12-03 16:01:42,0,0,"Chicago, IL",403,antgmoore,"{'compound': 0.0, 'neu': 1.0, 'neg': 0.0, 'pos': 0.0}",0.0000,0.0000,0.0000,0.0000,0.0000
958,Englewood,"The Latter @ Englewood, Chicago https://t.co/pDAeGvLExE","{'type': 'Point', 'coordinates': [-87.64477778, 41.77978611]}",2016-12-03 15:57:43,0,0,"Chicago, Ill",307,ZaphnathPaanea,"{'compound': 0.0, 'neu': 1.0, 'neg': 0.0, 'pos': 0.0}",0.0000,0.0000,0.0000,0.0000,0.0000
959,Englewood,"RT @calumet412: 📷 Seasons Greeting from Englewood, 1908, Chicago https://t.co/m8YD6kitk4",NaN,2016-12-03 15:45:53,0,1,"Rogers Park - Chicago, IL",593,balinesecat,"{'compound': 0.3818, 'neu': 0.755, 'neg': 0.0, 'pos': 0.245}",0.3818,226.4074,0.0000,0.3818,226.7892
960,Englewood,"📷 Seasons Greeting from Englewood, 1908, Chicago https://t.co/m8YD6kitk4",NaN,2016-12-03 15:44:21,4,1,Chicago,1511,calumet412,"{'compound': 0.3818, 'neu': 0.698, 'neg': 0.0, 'pos': 0.302}",0.3818,576.8998,1.5272,0.3818,578.8088
961,Englewood,Let's get this Saturday started! #TheLifeofMrsEnglewood #SpinClass @ Cycle Therapy https://t.co/cxbAtE41Hb,"{'type': 'Point', 'coordinates': [-87.59400803, 41.80924095]}",2016-12-03 15:07:10,0,0,"Englewood, Chicago",1358,mrs_englewood,"{'compound': 0.0, 'neu': 1.0, 'neg': 0.0, 'pos': 0.0}",0.0000,0.0000,0.0000,0.0000,0.0000
962,Englewood,That's the sauce darling...Happy Saturday! #TheLifeofMrsEnglewood https://t.co/FJtSDPMl3p,NaN,2016-12-03 14:45:57,0,0,"Englewood, Chicago",1358,mrs_englewood,"{'compound': 0.0, 'neu': 1.0, 'neg': 0.0, 'pos': 0.0}",0.0000,0.0000,0.0000,0.0000,0.0000
963,Englewood,New collaboration @JoeyPriceMusic and @lewisachenbach courtesy of @push_public begins today @Starbucks Englewood 80… https://t.co/osKJ2iA6YS,NaN,2016-12-03 14:45:35,0,1,Chicago Illinois,752,lewisachenbach,"{'compound': 0.3612, 'neu': 0.839, 'neg': 0.0, 'pos': 0.161}",0.3612,271.6224,0.0000,0.3612,271.9836